<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/font.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/maincommon.css" />
    <link rel="stylesheet" href="/css/mainswiper.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- 폰트어썸 라이브러리 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <!-- sweetalert2 라이브러리 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- swiper 라이브러리 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- splash  -->
    <script src="../js/splash.js"></script>
    <title>대발자국 스템프투어</title>
  </head>
  <body>
    <header class="header">
      <div class="header-wrap">
        <div class="headerLogo-wrap">
          <a href="/#">
            <img
              class="headerLogo"
              src="../file/mainimg/logo.png"
              alt="headerlogo"
            />
          </a>
        </div>
        <div>
          <a href="/#">
            <img
              class="headerMenu"
              src="../file/mainimg/logo-shopicon.png"
              alt="rightMenu"
            />
          </a>
        </div>
      </div>
    </header>
  </body>
</html>
