/* users */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
.container {
  width: 390px;
  font-family: "Pretendard-Regular";
}

.user {
  width: 390px;
  height: 200px;
  margin: 30px 20px 0 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
.user_img {
  width: 135px;
  height: 135px;
  border: 1px solid black;
  border-radius: 70px;
  margin: 30px 0 0 20px;
}
.user_profile {
  width: 175px;
  height: 71px;
  margin: auto;
  border: 1px solid black;
}
.user_profile p {
  margin: 10px 10px 0 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.stamp_DB {
  width: 390px;
  display: flex;
  flex-direction: row;

  margin: 30px 0 0 20px;
}
.stamp_DB button {
  width: 170px;
  height: 38px;
  background-color: #ffecf8;
  margin: 30px 20px 30px 20px;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  border: 1px solid #ffecf8;
  border-radius: 5px;
  cursor: pointer;
}
.mission {
  width: 390px;
  height: 129px;
  margin: 30px 20px;
  background: #f1f0f1;
}
.mission h3 {
  font-size: 20px;
  font-weight: bold;
}
.list {
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.list p {
  width: 75px;
  height: 75px;
  background: #c1c1c1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.stamp_container h2 {
  font-size: 20px;
  margin: 20px;
}
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #ffffff;
  width: 390px;
  height: 500px;
  margin-left: 5px;
}

/* 탭 스타일 */
.tab_item {
  width: calc(100% / 4);
  height: 50px;
  background-color: #f8f8f8;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #333333;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
  display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

/* 선택 된 탭 콘텐츠를 표시 */
#tab_1:checked ~ #tab_1_content,
#tab_2:checked ~ #tab_2_content,
#tab_3:checked ~ #tab_3_content,
#tab_4:checked ~ #tab_4_content {
  display: block;
}

/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item {
  /* background-color: #333333; */
  color: black;
}

.tab_1-1,
.tab_1-2,
.tab_1-3,
.tab_2-1,
.tab_2-2,
.tab_2-3,
.tab_3-1,
.tab_3-2,
.tab_3-3,
.tab_4-1,
.tab_4-2,
.tab_4-3 {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tab_1-1 div,
.tab_1-2 div,
.tab_1-3 div,
.tab_2-1 div,
.tab_2-2 div,
.tab_2-3 div,
.tab_3-1 div,
.tab_3-2 div,
.tab_3-3 div,
.tab_4-1 div,
.tab_4-2 div,
.tab_4-3 div {
  width: 90px;
  height: 90px;
  background: #c1c1c1;

  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.tab_yellow {
  background: #fffbd6;
}
.tab_brown {
  background: #ebe5da;
}
.tab_green {
  background: #eafaee;
}
.tab_pink {
  background: #ffeee4;
}
.tabs label {
  height: 30px;
  font-size: 15px;
  font-weight: normal;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tabs p {
  color: #353535;
}
