<%- include('common/header.ejs') %>

<div class="container empty-background">
    <nav class="nav">
        <p class="title">테스트 여행</p>
        <div class="sub-title">코스 리스트</div>
    </nav>

    <div class="content-container">
        <ul id="course-wrap" class="course-nav-ul"></ul>
        <div id="location-map"></div>
    </div>
</div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4dc9133efba41a6e92096e82cb1f2ced"></script>
    <!-- course페이지 들어왔을때만 스크립트 실행 -->
    <script src="/js/course.js"></script>
<%- include('common/footer.ejs') %>
