<%- include('common/header.ejs') %>
<link rel="stylesheet" href="../css/datail.css">

<section class="detail-wrapper">
    <!-- img -->
    <img src="../file/detail-img/detail-img1.png" alt="대구미술관img">
    <!-- title -->
    <h1>대구 미술관</h1>
 
    <div class="datail-text">
           <!-- text1 -->
        <p>현재, 4개의 전시가 진행되고 있으며, 삼성그룹 故이건희 회장이 고향, 대구를 배려하여 선정된 작품들을 기증한 것으로 유명합니다.</p>
            <!-- text2 -->
        <p>미술 관련 자료 열람서비스를 제공하고 있으며, 전시뿐만 아니라 행사도 진행하여 아이들과 관광오기에도 좋은 장소입니다.</p>
    </div>

    <div class="detail-info-container">
        <div class="detail-info-item info-title">
            주소
        </div>
        <!-- address -->
        <div class="detail-info-item info-text">
            대구광역시 수성구 삼덕동 미술관로 40 대구미술관
        </div>
        <div class="detail-info-item info-title">
            영업시간
        </div>
        <!-- hour -->
        <div class="detail-info-item info-text">
            매주 월요일 휴무, 하절기(10시~19시)/동절기(10시~18시) 운영
        </div>
        <div class="detail-info-item info-title">
            연락처
        </div>
        <!-- contact -->
        <div class="detail-info-item info-text">
            053-803-7900
        </div>
        <div class="detail-info-item info-title">
            웹사이트
        </div>
        <!-- website -->
        <div class="detail-info-item info-text">
            http://daeguartmuseum.or.kr/index.do
        </div>
    </div>
</section>



<%- include('common/footer.ejs') %>
</body>
</html>