<%- include('common/header.ejs') %>
    <div class="container empty-background" >
        <nav class="nav">
            <p class="title">테스트 여행</p>
            <div class="sub-title">소개</div>
        </nav>
        <div class="content-container">
            <div class="introduce-title-wrap">테스트 여행을 소개 합니다. </div>
        </div>
    </div>
<%- include('common/footer.ejs') %>
