<%- include('common/header.ejs') %>
<div class="container tutorial-container">
    <div class="recommendation-wrep">
        <h1>당일치기 추천 코스</h1>
        <div class="recommendation-map">
            지도 
        </div>
        <div class="recommendation-course-box">
            <div class="recommendation-course-item"> 
                <div>1</div>
                <p>대구예술발전소</p>
                <span>-</span>
            </div>
            <div class="recommendation-course-item"> 
                <div>2</div>
                <p>향촌문화관</p>
                <span>-</span>
            </div>
            <div class="recommendation-course-item"> 
                <div>3</div>
                <p>더현대 대구</p>
                <span>-</span>
            </div>
            <div class="recommendation-course-item"> 
                <div>4</div>
                <p>수성못</p>
                <span>-</span>
            </div>
        </div>
    </div>
</div>
<%- include('common/footer.ejs') %>